{% extends "layout.html" %}

{% block title %}
    CS50 Harvard Project 1
{% endblock %}

{% block body %}
<div class="container content-container">
        <div class="row" style="height:100%;width:100%; padding-bottom:10%;">
            <div class="col-12" style="height:100%;width:100%;">
                <div class="reg-form d-flex flex-column justify-content-center align-items-center" style="height:100%;width:100%;">
                    <div class="d-flex flex-column align-items-center justify-content-center" style="width:100%;">
                        <h4 class="mb-3">Search Books</h4>
                        <form autocomplete="off" id="searchBooks" style="width:100%;" class="d-flex justify-content-center">
                            <div class="autocomplete" style="width:50%;">
                                <input type="text" id="searchText" name="searchText" class="form-control form-control-lg" Placeholder="Search Books" />
                                <div id="loading-indicator" style="display:none;"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
