<!DOCTYPE html>
<html>
    <head>
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        <header class="pt-2 pb-3">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
              <a class="navbar-brand" href="#">Book App</a>
              <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="navbar-collapse collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                  <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li> -->
                  <form class="form-inline my-md-0">
                    <input class="form-control form-control-sm" type="text" placeholder="Search" aria-label="Search">
                  </form>
                </ul>
                {% if g.user %}
                    <span class="nav-item nav-link"> {{ g.user['username'] }} </span>
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}"> Logout </a>
                {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('register') }}"> Register </a>
                    <a class="nav-item nav-link" href="{{ url_for('login') }}"> Log In </a>
                {% endif %}
              </div>
            </div>
          </nav>
        </header>
        {% block body %}
        {% endblock %}
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
        // // star rating
        (function() { // use iife to not pollute global variables, it's discouraged
          var currentRate = 0;
          $('.ratings_stars').hover(
            // Handles the mouseover
            function() {
              $(this).prevAll().addClass('ratings_over');
              $(this).addClass('ratings_over');
              $(this).nextAll().removeClass('ratings_vote'); 
            },
            // Handles the mouseout
            function() {
              $(this).prevAll().removeClass('ratings_over');
              $(this).removeClass('ratings_over');
            }
          );
          $('.ratings_stars').click(function() {
            $(this).prevAll().unbind('mouseenter mouseleave');//remove hover effects
            $(this).nextAll().unbind('mouseenter mouseleave');
            $(this).unbind('mouseenter mouseleave')
            var widget = this;
            var widgetRate = $(widget).attr('rate')
            if (currentRate < widgetRate) {
              $(this).prevAll().addClass('ratings_over');
              $(this).addClass('ratings_over');
              $(this).nextAll().removeClass('ratings_vote'); 
            } else {
              $(this).addClass('ratings_over');
              $(this).nextAll().removeClass('ratings_over'); 
            }
            currentRate = widgetRate;
          });
          $('#reviewForm').submit(function(e) {
            e.preventDefault();
            $("#reviewSubmit").attr("disabled", true); // request indicator
            var text =  $('#comment').val()
            var userId = "{{ g.user['id'] }}"
            var bookId = "{{ book['id'] if book else '' }}"
            $.ajax({
              type: "POST",
              contentType: "application/json", // important!
              url:  "{{ url_for('addreview') }}",
              data: JSON.stringify({
                rate: currentRate,
                text: text,
                userId: userId,
                bookId: bookId,
              }),
              success: function(data) {
                $("#reviewSubmit").attr("disabled", false);
                // $("#submit").attr("disabled", false);
                $('#revSuccess').text('You have successfully reviewed this book').show();
                $('#reviewForm').removeClass('d-flex');
                $('#reviewForm').css('display', 'none');
                $('.add-review').css('display', 'none');
                console.log('review data!', data)
              }
            });
          })
        })()
        // end of star rating
        $('#regForm').submit(function(e) {
          e.preventDefault();
          $("#submit").attr("disabled", true); // request indicator
          $("#regForm input[id]") // find spans with ID attribute
            .map(function() { return this.id}) // convert to set of IDs
            .get()
            .forEach(function(formId) {
              $(`#${formId}`).removeClass('is-invalid') 
              $(`.${formId}-invalid-feedback`).remove();
            })
          $.ajax({
            type: "POST",
            url:  "{{ url_for('register') }}",
            beforeSend: function(xhr, settings) { 
              // Inject our CSRF token into our AJAX request.
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ reg_form.csrf_token._value() }}")
              }
            },
            data: $('#regForm').serialize(), // serializes the forms' elements.
            success: function(data) {
              $("#submit").attr("disabled", false);
              if(data.errors) {
                Object.getOwnPropertyNames(data.errors).forEach(function(err) {
                  $(`#${err}`).addClass('is-invalid')
                  $(`<div class='${err}-invalid-feedback invalid-feedback'> </div>`).insertAfter(`#${err}`);
                  data.errors[err].forEach(function(errmessage) {
                    $(`.${err}-invalid-feedback`).append(`<span>${errmessage}</span>`);
                  });
                })
                $('#regSuccess').hide();
              } else {
                $('#regSuccess').text(`Created Account for ${$('#username').val()}!`).show();
                $('#regForm')[0].reset(); // https://stackoverflow.com/questions/16452699/how-to-reset-a-form-using-jquery-with-reset-method
              }
            }
          });
        });
        $('#loginForm').submit(function(e) {
          e.preventDefault();
          $("#submit").attr("disabled", true); // request indicator
          $("#loginForm input[id]") // find spans with ID attribute
            .map(function() { return this.id}) // convert to set of IDs
            .get()
            .forEach(function(formId) {
              $(`#${formId}`).removeClass('is-invalid') 
              $(`.${formId}-invalid-feedback`).remove();
            })
          $.ajax({
            type: "POST",
            url:  "{{ url_for('login') }}",
            beforeSend: function(xhr, settings) { 
              // Inject our CSRF token into our AJAX request.
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ login_form.csrf_token._value() }}")
              }
            },
            data: $('#loginForm').serialize(), // serializes the forms' elements.
            success: function(data) {
              $("#submit").attr("disabled", false);
              if(data.errors) {
                Object.getOwnPropertyNames(data.errors).forEach(function(err) {
                  $(`#${err}`).addClass('is-invalid')
                  $(`<div class='${err}-invalid-feedback invalid-feedback'> </div>`).insertAfter(`#${err}`);
                  data.errors[err].forEach(function(errmessage) {
                    $(`.${err}-invalid-feedback`).append(`<span>${errmessage}</span>`);
                  });
                })
              } else {
                window.location.replace("/home");
              }
            }
          });
        });
        function autocomplete(inp) {
          if(!inp) return false
          var currentFocus;
          /*execute a function when someone writes in the text field:*/
          var changeTimer = false;
          inp.addEventListener("input", function(e) {
              var self = this;
              if(changeTimer !== false) clearTimeout(changeTimer);
              changeTimer = setTimeout(function(){
                $.ajax({
                  type: "POST",
                  url:  "{{ url_for('search') }}",
                  data: $('#searchBooks').serialize(),
                  beforeSend: function(xhr, settings) { 
                    $('#loading-indicator').show().text('Searching books...');
                  },
                  success: function(res) {
                    var arr = []    
                    $('#loading-indicator').hide();
                    if (!res.data.length) $('#loading-indicator').show().text('No Found');
                    res.data.forEach(function(item) {
                      var txt=""
                      var obj;
                      function capitalize(string) {
                        return string.toUpperCase();
                      }
                      Object.getOwnPropertyNames(item).forEach(function(k) {
                        if (k === 'id' || k === 'publication_year') return false
                        txt = txt.concat(` ${capitalize(k)}: ${item[k]} `)
                      })
                      arr.push({'isbn': item.isbn, data: txt.trim()})
                      var a, b, i, val = self.value;
                      /*close any already open lists of autocompleted values*/
                      closeAllLists();
                      if (!val) { return false;}
                      currentFocus = -1;
                      /*create a DIV element that will contain the items (values):*/
                      a = document.createElement("DIV");
                      a.setAttribute("id", self.id + "autocomplete-list");
                      a.setAttribute("class", "autocomplete-items d-flex flex-column");
                      /*append the DIV element as a child of the autocomplete container:*/
                      self.parentNode.appendChild(a);
                      /*for each item in the array...*/
                      for (i = 0; i < arr.length; i++) {
                        if (arr[i].data.toLocaleLowerCase().indexOf(val.toLocaleLowerCase()) !== -1) {
                          /*create a DIV element for each matching element:*/
                          b = document.createElement("a");
                          /*make the matching letters bold:*/
                          b.innerHTML = arr[i].data.replace(
                            new RegExp(
                              "\\b(ISBN|TITLE|AUTHOR|PUBLICATION YEAR)\\b|" + val.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&'), "gi"
                            ), 
                            (x,y) => y ? y : `<strong>${x}</strong>`
                          ) // https://stackoverflow.com/questions/52469373/regexp-to-not-match-on-specific-texts-on-a-sentence/52469607#52469607
                          /*insert a input field that will hold the current array item's value:*/
                          b.innerHTML += "<input type='hidden' value='" + arr[i].isbn + "'>";
                          /*execute a function when someone clicks on the item value (DIV element):*/
                          var innerText = arr[i].data;
                          var innerIsbn = arr[i].isbn;
                          b.setAttribute('href', "{{ url_for('book', isbn='bookIsbn') }}".replace("bookIsbn", innerIsbn))
                          b.addEventListener("click", function(e) {
                              /*insert the value for the autocomplete text field:*/
                              inp.value = innerText;
                              /*close the list of autocompleted values,
                              (or any other open lists of autocompleted values:*/
                              closeAllLists();
                          });
                          a.appendChild(b);
                        }
                      }
                    });
                  }
                });
                changeTimer = false;
              },1000);
          });
          /*execute a function presses a key on the keyboard:*/
          inp.addEventListener("keydown", function(e) {
              var x = document.getElementById(this.id + "autocomplete-list");
              if (x) x = x.getElementsByTagName("div");
              if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
              } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
              } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                  /*and simulate a click on the "active" item:*/
                  if (x) x[currentFocus].click();
                }
              }
          });
          function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
          }
          function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
              x[i].classList.remove("autocomplete-active");
            }
          }
          function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
              if (elmnt != x[i] && elmnt != inp) {
                x[i].parentNode.removeChild(x[i]);
              }
            }
          }
          /*execute a function when someone clicks in the document:*/
          document.addEventListener("click", function (e) {
              closeAllLists(e.target);
          });
        }
        autocomplete(document.getElementById("searchText"));
      });
    </script>
</html>
