{% extends "layout.html" %}

{% block title %}
    CS50 Harvard Project 1
{% endblock %}

{% block body %}
    <div class="container reg-container">
        <div class="row" style="height:100%;width:100%;">
            <div class="col-12" style="height:100%;width:100%;">
                <div class="reg-form d-flex flex-column justify-content-center align-items-center" style="height:100%;width:100%;">
                    <div class="d-flex flex-column align-items-center justify-content-center p-4" style="border:1px solid #CED4DA;">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <h4 class="mb-3">Register</h4>
                        <form method="POST" action="">
                            {{ reg_form.hidden_tag() }}
                            <fieldset class="form-group" style="margin-bottom:-16px;">
                                <div class="form-group">
                                    {% if reg_form.username.errors %}
                                        {{ reg_form.username(class="form-control form-control-sm is-invalid", Placeholder="Username") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.username.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ reg_form.username(class="form-control form-control-sm", Placeholder="Username") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% if reg_form.email.errors %}
                                        {{ reg_form.email(class="form-control form-control-sm is-invalid", Placeholder="Email") }}
                                        <div class="invalid-feedback">
                                            {% for error in reg_form.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ reg_form.email(class="form-control form-control-sm", Placeholder="Email") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% if reg_form.password.errors %}
                                        {{ reg_form.password(class="form-control form-control-sm is-invalid", Placeholder="Password") }}
                                        <div class="invalid-feedback">
                                            {% for error in reg_form.password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ reg_form.password(class="form-control form-control-sm", Placeholder="Password") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% if reg_form.confirm_password.errors %}
                                        {{ reg_form.confirm_password(class="form-control form-control-sm is-invalid", Placeholder="Confirm Password") }}
                                        <div class="invalid-feedback">
                                            {% for error in reg_form.confirm_password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ reg_form.confirm_password(class="form-control form-control-sm", Placeholder="Confirm Password") }}
                                    {% endif %}
                                </div>
                                <div class="form-group d-flex justify-content-center">
                                    {{ reg_form.submit(class="w-50 btn btn-primary btn-sm submit-btn") }}
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
